In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from scipy import stats
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [13]:
csv_file_path = 'RensetData.csv'
df = pd.read_csv(csv_file_path)
df

,Set_Name,Theme,Pieces,Price,Pages,Unique_Pieces
0,Creative Blue Bricks,Classic,52.0,4.99,37.0,28.0
1,Creative Green Bricks,Classic,60.0,4.99,37.0,36.0
2,Fire Truck,DUPLO,6.0,6.99,3.0,6.0
3,Tow Truck,DUPLO,7.0,6.99,3.0,7.0
4,Stephanie's Summer Heart Box,Friends,95.0,7.99,40.0,52.0
...,...,...,...,...,...,...
917,Welcome to Apocalypseburg!,THE LEGO MOVIE 2,3178.0,299.99,452.0,692.0
918,Jurassic Park: T. rex Rampage,Jurassic World,3120.0,249.99,464.0,525.0
919,Monkie Kid's Team Secret HQ,Monkie Kid,1105.0,169.99,556.0,622.0
920,Grand Piano,Ideas,3662.0,349.99,564.0,345.0
921,Lamborghini Sián FKP 37,Technic,3696.0,379.99,657.0,293.0

In [14]:
print(df['Theme'].value_counts())

Theme
Star Wars            110
Friends              100
City                  94
NINJAGO               78
DUPLO                 51
Marvel                50
Disney                41
Creator 3-in-1        38
Technic               38
BrickHeadz            31
THE LEGO MOVIE 2      26
Minecraft             26
Harry Potter          22
Classic               20
Jurassic World        20
Hidden Side           19
Speed Champions       17
Batman                16
Creator Expert        15
Ideas                 12
Juniors               12
Architecture          11
DC                     9
Monkie Kid             9
Trolls World Tour      9
Overwatch              8
DOTS                   8
LEGO Frozen 2          8
Unikitty               6
Powered UP             4
Xtra                   4
Minifigures            3
Spider-Man             2
Powerpuff Girls        2
Minions                2
Stranger Things        1
Name: count, dtype: int64

In [15]:
newComplexityValues = ['enkle', 'normale', 'avanserte']

df2 = df

theme_mapping = {"Star Wars": 'normale'
    , 'Friends': 'normale'
    , 'City': 'normale'
    , 'NINJAGO': 'normale'
    , 'DUPLO': 'enkle'
    , 'Marvel': 'normale'
    , 'Disney': 'normale'
    , "Creator 3-in-1": 'avanserte'
    , 'Technic': 'avanserte'
    , 'BrickHeadz': 'normale'
    , 'THE LEGO MOVIE 2': 'normale'
    , 'Minecraft': 'normale'
    , 'Harry Potter': 'normale'
    , 'Classic': 'enkle'
    , 'Jurassic World': 'normale'
    , 'Hidden Side': 'normale'
    , 'Speed Champions': 'normale'
    , 'Batman': 'normale'
    , 'Creator Expert': 'avanserte'
    , 'Ideas': 'avanserte'
    , 'Juniors': 'enkle'
    , 'Architecture': 'avanserte'
    , 'DC': 'normale'
    , 'Monkie Kid': 'avanserte'
    , 'Trolls World Tour': 'normale'
    , 'Overwatch': 'normale'
    , 'DOTS': 'normale'
    , 'LEGO Frozen 2': 'normale'
    , 'Unikitty': 'enkle'
    , 'Powered UP': 'avanserte'
    , 'Xtra': 'enkle'
    , 'Minifigures': 'enkle'
    , 'Spider-Man': 'normale'
    , 'Powerpuff Girls': 'normale'
    , 'Minions': 'normale'
    , 'Stranger Things': 'normale'}

df2['Complexity'] = df['Theme'].map(theme_mapping)
df2

,Set_Name,Theme,Pieces,Price,Pages,Unique_Pieces,Complexity
0,Creative Blue Bricks,Classic,52.0,4.99,37.0,28.0,enkle
1,Creative Green Bricks,Classic,60.0,4.99,37.0,36.0,enkle
2,Fire Truck,DUPLO,6.0,6.99,3.0,6.0,enkle
3,Tow Truck,DUPLO,7.0,6.99,3.0,7.0,enkle
4,Stephanie's Summer Heart Box,Friends,95.0,7.99,40.0,52.0,normale
...,...,...,...,...,...,...,...
917,Welcome to Apocalypseburg!,THE LEGO MOVIE 2,3178.0,299.99,452.0,692.0,normale
918,Jurassic Park: T. rex Rampage,Jurassic World,3120.0,249.99,464.0,525.0,normale
919,Monkie Kid's Team Secret HQ,Monkie Kid,1105.0,169.99,556.0,622.0,avanserte
920,Grand Piano,Ideas,3662.0,349.99,564.0,345.0,avanserte
921,Lamborghini Sián FKP 37,Technic,3696.0,379.99,657.0,293.0,avanserte

In [16]:
df2.to_csv('RensetData.csv', index=False)